[submodule "w3"]
	path = w3
	url = git://git.sv.gnu.org/w3.git
[submodule "ecb"]
	path = ecb
	url = https://github.com/emacsmirror/ecb.git
[submodule "git-emacs"]
	path = git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "org-sync"]
	path = org-sync
	url = git://github.com/emacsmirror/org-sync.git
